.material-icons {
  vertical-align: middle;
}

.text-color {
  color: rgb(87, 34, 87);
}
.box {
  border: 1px solid rgb(136, 136, 136);
}
.bg-color-2 {
  background-color: rgb(214, 194, 242);
}
.bg-color-1 {
  background-color: rgb(201, 219, 194);
}
